.dark-grey {
  background-color: darkgray;
  color: white;
}

.grey {
  background: slategray;
  color: white;
}

.light-grey {
  background: lightgrey;
}

.white {
  background-color: white;
  color: black;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.heading {
  padding: 5vh 0;
}

.margin-top-xs {
  margin-top: 1vh;
}

.margin-top-small {
  margin-top: 2vh;
}

.margin-top-medium {
  margin-top: 5vh;
}

.margin-top-large {
  margin-top: 10vh;
}

.margin-right-xs {
  margin-right: 1vw;
}

.sub-heading {
  padding: 3vh 0;
}

.large {
  padding: 5vh 0.5vw;
}

.medium {
  padding: 2vh 0.5vw;
}

.small {
  padding: 1vh 0.5vw;
}

.margin-small {
  margin: 5px;
}

.margin-medium {
  margin: 10px;
}

.margin-left-medium {
  margin-left: 4vw;
}

.border {
  border: 1px solid black;
}

.border-round {
  border: 1px solid black;
  border-radius: 50%;
}

.border-top {
  border-top: 1px solid black;
}

.flex-wrap {
  flex-wrap: wrap;
}

.header {
  width: 100vw;
  display: flex;
  height: 10vh;
}

.logo {
  height: 6vh;
  border: 1px solid black;
}

.logo:hover {
  cursor: pointer;
}

.img {
  height: 100%;
  width: 100%;
}

.nav {
  width: 33vw;
}

.nav-container {
  width: 60%;
}

.twenty {
  width: 20%;
}

.qtr {
  width: 25%;
}

.third {
  width: 33%;
}

.half {
  width: 50%;
}

.sixty-six {
  width: 66%;
}

.seventy-five {
  width: 75%;
}

.ninety {
  width: 90%;
}

.full {
  width: 100%;
}

.single_column-main {
  min-height: 90vh;
  min-width: 100vw;
  overflow: hidden;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.avatar {
  height: 4vh;
  border: 1px solid black;
}

.img-main {
  width: 75%;
}

.padding-sm {
  padding: 5px;
}

.padding-med {
  padding: 2rem;
}

.more-item {
  height: 8vh;
  width: 20%;
}
.footer {
  width: 100vw;

  height: 10vh;
}
